﻿@model LookupBaseModel
@{
    ViewBag.Title = ViewBag.Action + " Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script>
        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("Country" + pageName)
    </script>
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Country", FormMethod.Post))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.Id)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@ViewBag.Action Country</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Country&nbsp;Name&nbsp;<span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.name)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

