﻿@model InfringementAddModel
@{
    ViewBag.Title = ViewBag.Action + "Infringement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}
@Styles.Render("~/css/select2")
@Styles.Render("~/css/touchspin")
@Styles.Render("~/css/Dropzone")
@Styles.Render("~/css/icheck")
@Styles.Render("~/css/uploadImage")

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/Dropzone")
    @Scripts.Render("~/jQuery/select2")
    @Scripts.Render("~/jQuery/touchspin")
    @Scripts.Render("~/jQuery/iCheck")
    <script>

        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("Infringements" + pageName)

        $(document).ready(function (e) {
            BindTouchspin();
            $(".select2Vendor").select2({
                allowClear: true
            });
        });
    </script>
    <script>
            $(document).ready(function () {
                var InfringementId =@Html.Raw(Json.Encode(Model.InfringementId));
                var existingFiles = @Html.Raw(Json.Encode(Model.imageList));
                Dropzone.autoDiscover = false;
                var myDropzoneOptions = {
                    url: '@Url.Action("UploadImages", "Infringement")',
                    maxFilesize: 2, // MB
                    addRemoveLinks: true,
                    acceptedFiles: 'image/*,.jpg,.png,.jpeg',
                    init: function () {
                        $(this.element).addClass("dropzone");
                        var dropzone = this, xhrs = [];
                        if (existingFiles) {
                            $.each(existingFiles, function (index, item) {
                                var cropImageUrl = item.imageUrl + "?w=120&h=120&mode=crop";
                                var xhr = new XMLHttpRequest();
                                xhr.open('GET', item.imageUrl);
                                xhr.responseType = 'blob';
                                xhr.onload = function () {
                                    var file = new File([xhr.response], item.imageName, { 'type': xhr.response.type });
                                    dropzone.emit("addedfile", file);
                                    dropzone.emit("thumbnail", file, cropImageUrl);
                                    dropzone.emit("complete", file);
                                };
                                xhrs.push(xhr);
                                xhr.send();
                            });
                        }
                        this.on("success", function (file, serverResponse) {
                            if (serverResponse) {
                                console.log(serverResponse.Result);
                                console.log(serverResponse.Result);
                                var fileuploded = file.previewElement.querySelector("[data-dz-name]");
                                fileuploded.innerHTML = serverResponse.Result;
                                var imageListText = $("#imageObject").val();
                                var imageList = [];
                                if (imageListText) {
                                    imageList = jQuery.parseJSON(imageListText)
                                }
                                imageList.push({
                                    imageName: serverResponse.Result
                                });
                                $("#imageObject").val(JSON.stringify(imageList))
                            }
                        });
                        this.on("removedfile", function (file) {
                            var imageName = file.previewElement.querySelector('[data-dz-name]').innerHTML;
                            if (imageName) {
                                $.ajax({
                                    url: '@Url.Action("RemoveImage", "Infringement")',
                                    type: "POST",
                                    data: { "imageName": imageName, InfringementId: InfringementId }
                                });
                                var imageListText = $("#imageObject").val();
                                var imageList = [];
                                if (imageListText) {
                                    imageList = jQuery.parseJSON(imageListText)
                                }
                                var imageList = $.grep(imageList, function (e) {
                                    return e.imageName != imageName;
                                });
                                $("#imageObject").val(JSON.stringify(imageList))
                            }
                        });
                    },
                };
                var myDropzone = new Dropzone('#myDropzoneId', myDropzoneOptions);
            });
    </script>

    <script type="text/javascript">
            $(function () {
                $("#Currency").change(function () {
                    var Price = $('#BasePrice').val();
                    var FromCurrency = $('#Currency').val();
                    var statesProgress = $("#Subcategory-loading-progress");
                    statesProgress.show();
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("ConvertCurrency", "Infringement"))",
                    data: { "Price": Price, "FromCurrency": FromCurrency },
                    success: function (data) {
                        console.log(data)
                        $('.price').val(data)
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError)
                        statesProgress.hide();
                    }
                });
            });
            });

          $(function () {
              $("#BasePrice").change(function () {
                  var Price = $('#BasePrice').val();
                  var FromCurrency = $('#Currency').val();
                var statesProgress = $("#Subcategory-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("ConvertCurrency", "Infringement"))",
                    data: { "Price": Price, "FromCurrency": FromCurrency },
                    success: function (data) {
                        console.log(data)
                        $('.price').val(data)
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(thrownError)
                        statesProgress.hide();
                    }
                });
            });
        });

    </script>
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Infringement", FormMethod.Post))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.InfringementId)
                    @Html.HiddenFor(x => x.imageObject)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@_action Infringement data</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Client&nbsp;Name<span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.ClientId, new SelectList(ViewData["ClientList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Client", new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.ClientId)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.PlatformId, new SelectList(ViewData["PlatformList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Platform", new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.PlatformId)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.InfringementTypeId, new SelectList(ViewData["InfringementTypeList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Infringement Type", new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.InfringementTypeId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Seller&nbsp;Name<span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.SellerId, new SelectList(ViewData["SellerList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Seller", new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.SellerId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Title <span class="red">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Title)
                                        </div>
                                        <label class="col-md-2">
                                            Item Location <span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.ItemLocation, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ItemLocation)
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Quantity&nbsp;<span class="red">*</span>
                                        </label>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(x => x.Quantity, new { @class = "touchspin ", @placeholder = "Item Quantity" })
                                            @Html.ValidationMessageFor(x => x.Quantity)
                                        </div>
                                        <div class="col-md-2">
                                            @Html.TextBox("BasePrice", null, new { @class = "form-control baseprice", @placeholder = "Enter Price" })
                                        </div>
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(x => x.Currency, new SelectList(ViewData["CurrencyList"] as IEnumerable<SelectListItem>, "Value", "Text"), new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.Currency)
                                        </div>
                                        <div class="col-md-2">
                                            @Html.TextBoxFor(x => x.Price, new { @class = " form-control required price", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(x => x.Price)
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Item&nbsp;<span class="red">*</span>
                                        </label>
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(x => x.ItemNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ItemNumber)
                                        </div>
                                        <label class="col-md-2">
                                            Url ( Infringement ) <span class="red">*</span>
                                        </label>
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Url)
                                        </div>

                                        @*<label class="col-md-1">
                Source <span class="red">*</span>
            </label>
            <div class="col-md-4">
                @Html.TextBoxFor(x => x.ItemLocation, new { @class = "form-control required" })
                @Html.ValidationMessageFor(x => x.ItemLocation)
            </div>*@
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Seller Location <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.SellerLocation, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.SellerLocation)
                                        </div>
                                        <div class="col-md-3">
                                            @Html.CheckBoxFor(x => x.IsSendForRview, new { @class = "form-control chk-icheck" })
                                            Is Send For Review
                                            @Html.ValidationMessageFor(x => x.ItemLocation)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2">
                                            Remark <span class="red">*</span>
                                        </label>
                                        <div class="col-md-9">
                                            @Html.TextAreaFor(x => x.Remark, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Remark)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-xs-12">
                                            <div id="myDropzoneId" class="dz-clickable">
                                                <div class="dz-default dz-message">
                                                    <span>Drop files here or click to upload.</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>