﻿@model InfringementListWithFilter
@using GridMvc.Html
@{
    ViewBag.Title = "AllInfringements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@using (Ajax.BeginForm("ClientInfringementViewall", "Infringement", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divinfringementFilter",
    OnComplete = "BindIcheck",
}, new { @id = "frmviewall" }))
{
    @Html.Hidden("selectedOrganizationId")
}

@using (Ajax.BeginForm("CloseSelectedInfringement", "Infringement", null, new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divinfringementFilter",
    OnComplete = "BindIcheck",
}, new { @id = "frmCloseAll" }))
{
    @Html.Hidden("selectedInfringementIds")
}
@Styles.Render("~/css/icheck")
@Styles.Render("~/css/uploadImage")
<style>
    .hr {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
</style>
<link href="~/Content/Plugins/datepicker/bootstrap-datepicker.css" rel="stylesheet" />
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                @using (Ajax.BeginForm("InfringementByFilter", "Infringement", new { }, new AjaxOptions { HttpMethod = "POST", OnComplete = "BindIcheck", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divinfringementFilter" }, new { @id = "Infringement" }))
                {
                    <div class="card-body collapse in" style="align-content:center">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(x => x.InfringementFilter.SearchText, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                @*<div class="col-md-3">
                                                        @Html.DropDownListFor(x => x.InfringementFilter.ClientId, new SelectList(ViewData["ClientList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Client", new { @class = "form-control" })
                                                    </div>*@
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.PlatformId, new SelectList(ViewData["PlatformList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Platform", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.ReviewStatus, new SelectList(ViewData["StatusList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Status", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.InfringementTypeId, new SelectList(ViewData["InfringementTypeList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Infringement", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <!-- Date input -->
                                                    <label class="control-label">StartDate</label>
                                                    @Html.TextBoxFor(x => x.InfringementFilter.StartDate, new { @class = "form-control dtpicker", @placeholder = "select Start date", @id = "startdate" })
                                                </div>

                                                <div class="col-md-6">
                                                    <!-- Date input -->
                                                    <label class="control-label">EndDate</label>
                                                    @Html.TextBoxFor(x => x.InfringementFilter.EndDate, new { @class = "form-control dtpicker", @placeholder = "select End date", @id = "enddate" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <input type="submit" class="btn btn-md btn-primary" value="Search" />
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="javascript:;" onclick="Viewall()" class="btn btn-md btn-primary">View All</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="#" data-toggle="modal" @*data-target="#fp_Modal"*@
                                                       data-whatever=""
                                                       onclick="CeaseCloseAllSelectedRecord()"
                                                       class="btn btn-md btn-primary test">
                                                        Add cease and desist
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <a href="javascript:;" onclick="CloseAllSelectedRecord()" class="btn btn-md btn-primary">Close All selected</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:;" onclick="DeleteAllSelectedRecord()" class="btn btn-md btn-primary">Delete All selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div id="divinfringementFilter">
                    @Html.Partial("_infringementFilterClient", Model.InfringementView)
                </div>
            </div>
            <div class="modal fade" id="fp_Modal" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fp_ModalLabel">Add cease and desist</h5>
                        </div>
                        @using (Html.BeginForm("AddCeaseAndDesist", "Infringement", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.Hidden("CeaseselectedInfringementIds");
                            <div class="modal-body">
                                <p>Upload Document</p>
                                <div class="form-group">
                                    <input id="fileImage" name="logo" type="file" class="attachment_upload">
                                </div>
                                <div class="form-group">
                                    <input id="txtSource" name="txtSource" placeholder="Eter text here" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="offset-md-4">
                                        <input type="checkbox" id="chkclose" name="chkCloseInfringement" value="true" class="form-control chk-icheck" /> selected record close?
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn" data-dismiss="modal" value="Close">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/gridMvc")
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/uploadImage")
    <script src="~/Content/Plugins/Timepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        ActiveMenu("Infringements");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');

        $(document).ready(function () {

            $('.dtpicker').datepicker({
                autoclose: true,
                format: "dd-M-yy",
                todayBtn: "linked",
                maxDate: (365),
            });

            $('#enddate').removeAttr("data-val-date");
            $('#startdate').removeAttr("data-val-date");
        });

        $("#enddate").change(function () {
            var startDate = document.getElementById("startdate").value;
            var endDate = document.getElementById("enddate").value;
            console.log(startDate);
            console.log(endDate);
            if ((Date.parse(endDate) <= Date.parse(startDate))) {
                console.log('enter');
                toastr.warning('End date should be greater than Start date', 'Warning !');
                document.getElementById("enddate").value = "";
            }
        });

        function Viewall() {
            $('#frmviewall').submit();
        }
        $(document).ready(function () {
            BindIcheck()
        });
        function BindIcheck() {
            $(".jsgrid-grid-body").css('overflow-x', 'auto');
            $('.chk-group').iCheck({
                checkboxClass: 'icheckbox_square-purple',
                radioClass: 'iradio_square-purple',
            });
            $('.chk-all').iCheck({
                checkboxClass: 'icheckbox_square-purple',
                radioClass: 'iradio_square-purple',
            });

            $('#select_all').on('ifToggled', function () {
                $(".chk-group").prop('checked', $(this).prop("checked")).iCheck('update');
            })
            $('.chk-group').on('ifUnchecked', function () {
                $("#select_all").prop('checked', false).iCheck('update');
            })
            $('.chk-group').on('ifChecked', function () {
                if ($('.chk-group:checked').length == $('.chk-group').length) {
                    $("#select_all").prop('checked', true).iCheck('update');;
                }
            })

            $(".deleteData").click(function () {
                deleteRowNew($(this));
            });
        $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("OpenInfringement")';

                 swal({
                     title: "Are you sure to open this Infringement data?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, Opened it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".deactivate").show()
                                     control.hide()
                                 }, 300);

                                 swal("Opned!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".deactivate").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("CloseInfringement")';

                 swal({
                     title: "Are you sure to Closed this Infringement data?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, Closed it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".activate").show()
                                     control.hide()
                                 }, 300);
                                 swal("Closed!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });

        }

        function CeaseCloseAllSelectedRecord() {
            var SelectedInfringement = [];
            $('.slectInfringementId').each(function () {
                if ($(this).is(':checked'))
                    SelectedInfringement.push(parseInt($(this).data('id')));

            });
            if (SelectedInfringement.length) {
                $('#CeaseselectedInfringementIds').val(SelectedInfringement.join(','));
                var Ids = $('#CeaseselectedInfringementIds').val();
                $('#CeaseselectedInfringementIds').val(Ids);
                $('#fp_Modal').modal()
                return true;
            }
            else {
                toastr.warning('Please select atleast one Infringement data', 'Warning !');
                return false;
            }
        }

        function CloseAllSelectedRecord() {
            var SelectedInfringement = [];
            $('.slectInfringementId').each(function () {
                if ($(this).is(':checked'))
                    SelectedInfringement.push(parseInt($(this).data('id')));
            });

            if (SelectedInfringement.length) {
                $('#selectedInfringementIds').val(SelectedInfringement.join(','));
                var Ids = $('#selectedInfringementIds').val();
                $('#selectedInfringementIds').val(Ids);
                  var url = '@Url.Action("CloseSelectedInfringement", "Infringement", new { selectedInfringementIds = "__id__" })';
                  window.location.href = url.replace('__id__', Ids);
            }
            else {
                toastr.warning('Please select atleast one Infringement data', 'Warning !');
                return false;
            }
        }

         function DeleteAllSelectedRecord() {
            var SelectedInfringement = [];
            $('.slectInfringementId').each(function () {
                if ($(this).is(':checked'))
                    SelectedInfringement.push(parseInt($(this).data('id')));

            });
            if (SelectedInfringement.length) {
                $('#selectedInfringementIds').val(SelectedInfringement.join(','));
                var Ids = $('#selectedInfringementIds').val();
                $('#selectedInfringementIds').val(Ids);
                  var url = '@Url.Action("DeleteSelectedInfringement", "Infringement", new { selectedInfringementIds = "__id__" })';
                  window.location.href = url.replace('__id__', Ids);
            }
            else {
                toastr.warning('Please select atleast one Infringement data', 'Warning !');
                return false;
            }
        }

    </script>
    <script>

        function deleteRowNew(control) {
            control.children('i').removeClass('icon-trash-o').addClass('icon-spinner10 spinner');
            swal({
                title: "Are you sure to delete this record?",
                text: "You will not be able to recover this date!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DA4453",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    control.children('i').removeClass('icon-trash-o').addClass('icon-spinner10 spinner');
                    swal({
                        title: "Are you sure to delete this record?",
                        text: "You will not be able to recover this date!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DA4453",
                        confirmButtonText: "Yes,By Mistake",
                        cancelButtonText: "Yes,Client Retract",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                               var Url = '@Url.Action("Delete")';
                               $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                                if (response.Status == 1) {
                                    control.parent().parent().hide(200);
                                    setTimeout(function () { control.remove() }, 300);
                                    swal("Deleted!", response.Message, "success");
                                }
                                else {
                                    control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                    swal("Error", response.Message, "error");
                                }
                            });
                        } else {
                               var Url = '@Url.Action("RetractDelete")';
                            $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                                if (response.Status == 1) {
                                    control.parent().parent().hide(200);
                                    setTimeout(function () { control.remove() }, 300);
                                    swal("Deleted!", response.Message, "success");
                                }
                                else {
                                    control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                    swal("Error", response.Message, "error");
                                }
                            });
                        }
                    });
                } else {
                    control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                    swal("Cancelled", "Your record is safe :)", "info");
                }
            });

        }
    </script>
}
