﻿@model InfringementListWithFilter
@using GridMvc.Html
@{
    ViewBag.Title = "All Infringement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper ViewImage(string imageUrl)
{
    <img src="@imageUrl" width="50px" />
}
@helper ViewDetails(string Title, string URLink)
{
    @Title
    <br />
    <a href=@Url.Action(URLink) target="_blank">@URLink</a>
}
@helper GetCheckBox(int InfringementId)
{
    <input type="checkbox" data-id="@InfringementId" class="chk-group slectInfringementId" />
}
@helper ViewFile(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}

@helper ViewStat(ReviewStatus status, bool isrepeated)
{
    if (status == ReviewStatus.Approved)
    {

        @ReviewStatus.Open
        <br />
    }
    else if (status == ReviewStatus.Reject)
    {
        @ReviewStatus.Close
        <br />

    }
    else
    {
        @status
        <br />
    }

    if (isrepeated)
    {
        <p>Yes</p>
    }
    else
    {
        <p>No</p>
    }
}

@helper ViewPlatform(string Platform, string Site)
{
    @Platform
    <br />
    @Site
}
@helper ViewTitle(string Title, string URLink)
{
    @Title
    <br />
    <a href="@Url.Content(URLink)" targ target="_blank">Open Link</a>
}
@helper ViewGallary(List<ImagesModel> Urls)
{
    foreach (var item in Urls)
    {
        <img src=@Url.Content(item.imageUrl) height="50px" width="50px" />
        <br />
    }
}

@helper ViewPrice(double Price, int Quantity)
{
    @Price
    <br />
    @Quantity
}
@helper ViewItem(string Item, string seller)
{
    @Item
    <br />
    @seller
}
@helper ViewItemLocation(string ItemLocation, string sellerlocation)
{
    @ItemLocation
    <br />
    @sellerlocation
}
@helper ViewInfrigmentType(string InfrigmentType, string Remark)
{
    @InfrigmentType
    <br />
    @Remark
}
@helper ViewCeaseandDesist(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <text>@item.Source</text>
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}

@helper ViewDates(DateTime Reported, DateTime? Updated)
{
    @Reported
    <br />
    @Updated
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                </div>
                @using (Ajax.BeginForm("InfringementByFilter", "Infringement", new { }, new AjaxOptions { HttpMethod = "POST", OnComplete = "BindIcheck", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divinfringementFilter" }, new { @id = "Infringement" }))
                {
                    <div class="card-body collapse in" style="align-content:center">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-7">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(x => x.InfringementFilter.SearchText, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.ClientId, new SelectList(ViewData["ClientList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Client", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.PlatformId, new SelectList(ViewData["PlatformList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Platform", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.ReviewStatus, new SelectList(ViewData["StatusList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Status", new { @class = "form-control" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(x => x.InfringementFilter.InfringementTypeId, new SelectList(ViewData["InfringementTypeList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Infringement", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-md-12">

                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <!-- Date input -->
                                                    <label class="control-label">StartDate</label>
                                                    @Html.TextBoxFor(x => x.InfringementFilter.StartDate, new { @class = "form-control dtpicker", @placeholder = "select Start date", @id = "startdate" })
                                                </div>

                                                <div class="col-md-6">
                                                    <!-- Date input -->
                                                    <label class="control-label">EndDate</label>
                                                    @Html.TextBoxFor(x => x.InfringementFilter.EndDate, new { @class = "form-control dtpicker", @placeholder = "select End date", @id = "enddate" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <input type="submit" class="btn btn-md btn-primary" value="Search" />
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="javascript:;" onclick="Viewall()" class="btn btn-md btn-primary">View All</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="#" data-toggle="modal" data-target="#fp_Modal"
                                                       data-whatever=""
                                                       onclick="CeaseCloseAllSelectedRecord()"
                                                       class="btn btn-md btn-primary test">
                                                        Add cease and desist
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <a href="javascript:;" onclick="CloseAllSelectedRecord()" class="btn btn-md btn-primary">Close All selected</a>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="javascript:;" onclick="DeleteAllSelectedRecord()" class="btn btn-md btn-primary">Delete All selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Infringement data </h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">

                            <li class="btn btn-white">
                                <a href="@Url.Action("ExportClientInfringementData")" class="primary">
                                    <i class="primary"></i>&nbsp;Export
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model.InfringementView).Columns(column =>
                           {
                               column.Add(x=>x.Platform).Titled(Html.Raw("Plateform <br/><hr> Site").ToString()).Encoded(false).Sanitized(false).Filterable(true).Sortable(true).RenderValueAs(x => ViewPlatform(x.Platform, x.Country));

                               column.Add(x=>x.Title).Titled(Html.Raw("Title <br/><hr> Url").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewTitle(x.Title, x.Url));

                               column.Add(x=>x.imageList).Titled("Gallery").Encoded(false).Sanitized(false).RenderValueAs(x => ViewGallary(x.imageList));

                               column.Add(x=>x.Price).Titled(Html.Raw("Price <br/><hr> Quantity").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewPrice(x.Price, x.Quantity));

                               column.Add(x=>x.ClientName).Titled(Html.Raw("Item <br/><hr> Seller").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItem(x.ItemNumber, x.ClientName));

                               column.Add(x=>x.SellerLocation).Titled(Html.Raw("Item <br/><hr> Seller Location").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItemLocation(x.ItemLocation, x.SellerLocation));

                               column.Add(x=>x.Remark).Titled(Html.Raw("Infrigment Type <br/><hr> Remark").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewInfrigmentType(x.InfringementType, x.Remark)).SetWidth(200);

                               column.Add(x=>x.CeaseandDesistImageList).Titled("Cease and desist").Encoded(false).Sanitized(false).RenderValueAs(x => ViewFile(x.CeaseandDesistImageList)).SetWidth(100);

                               column.Add(x=>x.ReviewStatus).Titled(Html.Raw("Status <br/><hr> IsRepeated").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewStat(x.ReviewStatus,x.IsRepeated)).SetWidth(100);

                               column.Add(p => p.ReportedTime).Titled(Html.Raw("Reported Time <br/><hr> Removed Time").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewDates(x.ReportedTime, x.RemovedTime)).SetWidth(300);

                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("AllInfringement");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
    <script type="text/javascript">
           $(function () {
               $(".Accept").click(function () {
                var control = $(this);
                var Url = '@Url.Action("CloseInfringement")';

                 swal({
                     title: "Are you sure to Accept this request?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     CancelButtonColor: "#DA4453",
                     confirmButtonText: "Yes, accept it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id'), 'UserID': $(control).attr('data-userid') }, function (response) {
                             if (response.Status == 1) {
                                 control.parent().parent().hide(200);
                                 setTimeout(function () { control.remove() }, 300);
                                 swal("Accepted!", response.Message, "success");

                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".Reject").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("OpenInfringement")';
                 swal({
                     title: "Are you sure to reject this request?",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, reject it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id'), 'UserID': $(control).attr('data-userid') }, function (response) {
                             if (response.Status == 1) {
                                 control.parent().parent().hide(200);
                                 setTimeout(function () { control.remove() }, 300);
                                 swal("Rejected!", response.Message, "success");
                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });
    </script>

}
