﻿@model IEnumerable<InfringementViewModel>
@{
    ViewBag.Title = "Infrigments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Inquiry";
}

@Styles.Render("~/css/viewgrid")
@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    @Scripts.Render("~/jquery/viewgrid")
    <script type="text/javascript">
        ActiveMenu("Infringment")

        //function convertToDate(data) {
        //    var dtStart = new Date(parseInt(data.substr(6)));
        //    var dtStartWrapper = moment(dtStart);
        //    return dtStartWrapper.format("DD/MMM/YYYY");
        //}

        $(document).ready(function () {
            $('#datatable').DataTable({
                scrollX: true,
                proccessing: true,
                serverSide: true,
                autoWidth: false,
                responsive: true,
                sortable: false,
                searchable: false,

                fixedHeader: {
                    header: true,
                    headerOffset: $('.header-navbar').outerHeight()
                },
                language: {
                    search: "",
                    searchPlaceholder: "Search..."
                },
                ajax: {
                    url: "@Url.Action("Infrigments", "Infringement")",
                    type: 'POST',
                },
                columns:
                    [
                        { data: "InfringementId", title: "Id" },
                        { data: "Platform", title: "Site" },
                        { data: "Title", title: "Url" },
                        { data: "Price", title: "Quantity" },
                        { data: "SellerLocation", title: "Seller Location" },
                        { data: "ItemLocation", title: "Seller" },
                        { data: "ItemNumber", title: "ItemNumber" },
                        { data: "ClientName", title: "ClientName" },
                        { data: "InfringementType", title: "InfringementType" },
                        { data: "ReviewStatus", title: "ReviewStatus" },
                        { data: "CeaseandDesistImageList", title: "CeaseandDesistImageList" },
                        { data: "Url", title: "Url" },
                        { data: "Remark", title: "Remark" },
                        {
                            data: null,
                            title: "Action",
                            sortable: false,
                            searchable: false,
                            orderable: false,
                            mRender: function (x) {
                                return BindActionButtons(x.Id);
                            }
                        }
                    ]
            });
        });

        function BindActionButtons(Id) {
            var strButtons = '';
            var strButton2 = '';
            //Delete button
            strButtons += '<button type="button" onclick="deleteRow($(this))"';
            strButtons += 'class="btn btn-sm btn-primary btn-red ml-1"';
            strButtons += 'data-id="' + Id + '"';
            strButtons += 'data-url="@Url.Action("Delete")"';
            strButtons += '>';
            strButtons += '<i class="fa fa-trash"></i> Delete';
            strButtons += '</button>';

            strButton2 += '<button type="button" onclick="deleteRow($(this))"';
            strButton2 += 'class="btn btn-sm btn-primary btn-blue ml-1"';
            strButton2 += 'data-id="' + Id + '"';
            strButton2 += 'data-url="@Url.Action("Edit")"';
            strButton2 += '>';
            strButton2 += '<i class="fa fa-trash"></i> Edit';
            strButton2 += '</button>';

            strButtons += '<br/><br/>' + strButton2
            return strButtons;
        }
    </script>
}

<div class="row">
    <div class="col-12">
        <div class="card box-shadow-0 border-info border-bottom-3">
            <div class="card-header card-head-inverse bg-info">
                <h4 class="card-title text-white">
                    <i class="fa fa-fw fa-cogs"></i>&nbsp;Manage Infregment
                </h4>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v fa-fw font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="fa fa-minus fa-fw"></i>
                            </a>
                        </li>
                        <li>
                            <a data-action="expand">
                                <i class="fa fa-window-maximize fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content show">
                <div class="card-body">
                    <table class="table table-striped table-bordered datatable" id="datatable">
                        <thead>
                            <tr>
                                <th rowspan="2"></th>
                                <th>Plateform</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Item</th>
                                <th>Salary</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

