﻿@model IQueryable<InfringementViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Rejected Infringement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@helper ViewImage(string imageUrl)
{
    <img src="@imageUrl" width="50px" />
}
@helper ViewDetails(string Title, string URLink)
{
    @Title
    <br />
    <a href=@Url.Action(URLink) target="_blank">@URLink</a>
}
@helper GetCheckBox(int InfringementId)
{
    <input type="checkbox" data-id="@InfringementId" class="chk-group slectInfringementId" />
}
@helper ViewFile(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}
@helper ViewPlatform(string Platform, string Site)
{
    @Platform
    <br />
    @Site
}
@helper ViewTitle(string Title, string URLink)
{
    @Title
    <br />
    <a href="@Url.Content(URLink)" targ target="_blank">Open Link</a>
}
@helper ViewGallary(List<ImagesModel> Urls)
{
    foreach (var item in Urls)
    {
        <img src=@Url.Content(item.imageUrl) height="50px" width="50px" />
        <br />
    }
}

@helper ViewPrice(double Price, int Quantity)
{
    @Price
    <br />
    @Quantity
}
@helper ViewItem(string Item, string seller)
{
    @Item
    <br />
    @seller
}
@helper ViewItemLocation(string ItemLocation, string sellerlocation)
{
    @ItemLocation
    <br />
    @sellerlocation
}
@helper ViewInfrigmentType(string InfrigmentType, string Remark)
{
    @InfrigmentType
    <br />
    @Remark
}
@helper ViewCeaseandDesist(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <text>@item.Source</text>
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}

@helper ViewDates(DateTime Reported, DateTime? Updated)
{
    @Reported
    <br />
    @Updated
}

@helper ActionButtons(int Id)
{
    <a href="javascript:;" data-id="@Id" data-toggle="modal" @*data-target="#fp_Modal"*@
       data-whatever=""
       class="btn btn-sm btn-primary btn-red Reject">
        <i class="icon-ban"></i> Retract
    </a>
}

@*@helper ActionButtons(int Id)
    {
        <a href="javascript:;" class="btn btn-sm btn-primary btn-red Reject" data-id="@Id">
            <i class="icon-ban"></i> Reject
        </a>

        <a href="javascript:;" class="btn btn-sm btn-primary btn-green Accept" data-id="@Id">
            <i class="icon-checkmark"></i> Accept
        </a>
    }*@
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">Rejected Infringement</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            @*<li>
                                    <input type="checkbox" id="select_all" class="form-control chk-all" /> &nbsp; &nbsp;Select All&nbsp;&nbsp;
                                </li>*@
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(x=>x.Platform).Titled(Html.Raw("Plateform <br/><hr> Site").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewPlatform(x.Platform, x.Country));

                               column.Add(x=>x.Title).Titled(Html.Raw("Title <br/><hr> Url").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewTitle(x.Title, x.Url));

                               column.Add(x=>x.imageList).Titled("Gallery").Encoded(false).Sanitized(false).RenderValueAs(x => ViewGallary(x.imageList));

                               column.Add(x=>x.Price).Titled(Html.Raw(Html.Raw("Price <br/><hr> Quantity").ToString()).ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewPrice(x.Price, x.Quantity));

                               column.Add(x=>x.ClientName).Titled(Html.Raw("Item <br/><hr> Seller").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItem(x.ItemNumber, x.ClientName));

                               column.Add(x=>x.SellerLocation).Titled(Html.Raw("Item <br/><hr> Seller Location").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItemLocation(x.ItemLocation, x.SellerLocation));

                               column.Add(x=>x.InfringementType).Titled(Html.Raw("Infrigment Type <br/><hr> Remark").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewInfrigmentType(x.InfringementType, x.Remark)).SetWidth(200);

                               column.Add(x=>x.CeaseandDesistImageList).Titled("Cease and desist").Encoded(false).Sanitized(false).RenderValueAs(x => ViewFile(x.CeaseandDesistImageList)).SetWidth(200);

                               //column.Add(x => x.ReviewStatus).Titled("Status").Encoded(false).Sanitized(false).SetWidth(100);

                               column.Add(p => p.ReportedTime).Titled(Html.Raw("Reported Time <br/><hr> Removed Time").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewDates(x.ReportedTime, x.RemovedTime)).SetWidth(300);

                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ActionButtons(x.InfringementId));

                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fp_Modal" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="fp_ModalLabel">Reason</h5>
                        </div>
                        @using (Html.BeginForm("RetractByClient", "Infringement", FormMethod.Post, new { @id = "formreason" }))
                        {
                            <div class="modal-body">
                                <p>Reason</p>
                                <div class="form-group">
                                    <input type="hidden" name="InfId" id="InfId" />
                                    <textarea id="reasonText" name="reasonText" placeholder="enter reson" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn" data-dismiss="modal" value="Close">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        ActiveMenu("InfringementRejected");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>

    <script type="text/javascript">
           $(function () {
               $(".Accept").click(function () {
                var control = $(this);
                var Url = '@Url.Action("CloseInfringement")';

                 swal({
                     title: "Are you sure to Accept this request?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     CancelButtonColor: "#DA4453",
                     confirmButtonText: "Yes, accept it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id'), 'UserID': $(control).attr('data-userid') }, function (response) {
                             if (response.Status == 1) {
                                 control.parent().parent().hide(200);
                                 setTimeout(function () { control.remove() }, 300);
                                 swal("Accepted!", response.Message, "success");

                             }
                             else {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                                 swal("Error", response.Message, "error");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-ban');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
               });

               $(".Reject").click(function () {
                   var control = $(this);
                   var id = control.data('id');
                   $('#InfId').val(id);
                   console.log(id);
                 var Url = '@Url.Action("RetractByClient")';
                 swal({
                     title: "Are you sure to reject this request?",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, reject it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: true,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $('#fp_Modal').modal();
                         //$.post(Url, { 'id': $(control).attr('data-id'), 'UserID': $(control).attr('data-userid') }, function (response) {
                         //    if (response.Status == 1) {
                         //        control.parent().parent().hide(200);
                         //        setTimeout(function () { control.remove() }, 300);
                         //        swal("Rejected!", response.Message, "success");
                         //    }
                         //    else {
                         //        control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                         //        swal("Error", response.Message, "error");
                         //    }
                         //});
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-toggle-right');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
               });



        });
    </script>
}
