﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16" />
    <link href="css/flexslider.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/line-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css' />
    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="loader">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div class="nav-container">
            <nav class="top-bar overlay-bar">
                <div class="container">
                    <div class="row utility-menu">
                        <div class="col-sm-12">
                            <div class="utility-inner clearfix">
                                <%-- <span class="alt-font"><i class="icon icon_phone"></i>&nbsp; <a href="tel:+91 97246 58585">+91 97246 58585</a></span>&nbsp;--%>
                                <span class="alt-font"><i class="icon icon_mail_alt"></i>&nbsp;<a href="mailto:info@proactivechannel.com">info@proactivechannel.com</a> </span>

                                <div class="pull-right">
                                    <a href="Blogs.aspx" class="btn btn-primary btn-filled btn-xs">Blog</a>
                                    <a href="Contact.aspx" class="btn btn-primary btn-filled btn-xs">Request Callback</a>
                                    <a href="https://proactivechannel.com/admin" class="btn btn-primary btn-xs">Login</a>
                                    <a href="#" class="language">
                                        <img title="Global IP Protection" alt="Global IP Protection" src="img/worldwide.png" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->


                    <div class="row nav-menu">
                        <div class="col-sm-3 col-md-2 columns">
                            <a href="Default.aspx">
                                <img class="logo logo-light" title="Proactive Channel" alt="Proactive Channel" src="img/logo-dark.png">
                                <img class="logo logo-dark" title="Proactive Channel" alt="Proactive Channel" src="img/logo-dark.png">
                            </a>
                        </div>

                        <div class="col-sm-9 col-md-10 columns">
                            <ul class="menu">
                                <li class="has-dropdown"><a href="who_we_are.aspx">Who We Are</a>
                                    <ul class="subnav morewidth">
                                        <li><a href="who_we_are.aspx">Our Company</a></li>
                                        <li><a href="who_we_are.aspx#ourpeople">Our People</a></li>
                                        <li><a href="who_we_are.aspx#ourpurpose">Our Purpose</a></li>
                                        <li><a href="who_we_are.aspx#ourpurpose">Our Values</a></li>
                                        <li><a href="who_we_are.aspx#WeAreAection">Real time IP Enforcement</a></li>
                                    </ul>
                                </li>

                                <li><a href="About.aspx">WHY PROACTIVE  CHANNEL?</a>

                                </li>

                                <li class="has-dropdown"><a href="#">Client Solutions</a>
                                    <ul class="subnav morewidth">
                                        <li><a href="Online_Brand_protection.aspx">Online Brand Protection</a></li>
                                        <li><a href="<%= Page.ResolveUrl("~/anticounterfeiting.aspx") %>">ANTICOUNTERFEITING</a></li>
                                        <li><a href="<%= Page.ResolveUrl("~/anti_piracy.aspx") %>">Anti-Piracy</a></li>
                                        <li><a href="Online_Market_Monitoring.aspx">Online Market Monitoring</a></li>
                                        <li><a href="Social_Media_Monitoring.aspx">Social Media Monitoring</a></li>
                                        <li><a href="IP_Monitoring.aspx">IP Monitoring</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown"><a href="#">Brand protection</a>
                                    <ul class="subnav morewidth">
                                        <li><a href="why-proactive-channnel-brand-protection.aspx">WHY PROACTIVE CHANNNEL BRAND PROTECTION</a></li>
                                        <li><a href="Brand_Protection_Vital.aspx">WHY BRAND PROTECTION IS VITAL
FOR BRANDS</a></li>
                                    </ul>
                                </li>

                                <li class="has-dropdown"><a href="#">RESOURCES</a>
                                    <ul class="subnav morewidth">
                                        <li><a href="<%= Page.ResolveUrl("~/resources.aspx?resources=BrandProtection") %>">Brand Protection</a></li>
                                        <li><a href="<%= Page.ResolveUrl("~/resources.aspx?resources=Anticounterfeiting") %>">Anticounterfeiting</a></li>
                                        <li><a href="<%= Page.ResolveUrl("~/resources.aspx?resources=Antipiracy") %>">Antipiracy</a></li>
                                        <li><a href="Blogs.aspx">Blogs</a></li>
                                        <li><a href="NewsRoom.aspx">Newsroom</a></li>
                                        <li><a href="Upcoming_Events.aspx">Upcoming Events</a></li>
                                        <li><a href="InsightsTrends.aspx">Insights & trends</a></li>
                                        <li><a href="Press_Release.aspx">Press Release</a></li>
                                    </ul>
                                </li>
                                <%-- <li><a href="About.aspx">Our Thinking</a>

                                </li>--%>
                                <%--  <li><a href="InsightsTrends.aspx">Insights & Trends</a>

                                </li>--%>
                                <%--<li><a href="Blogs.aspx">Blog</a></li>--%>
                                <li><a href="Contact.aspx">Contact Us</a>

                                </li>

                            </ul>

                            <%--<ul class="social-icons text-right">
                                <li>
                                    <a target="_blank" href="https://twitter.com/proactivchannel">
                                        <i class="icon social_twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a target="_blank" href="https://www.facebook.com/proactivechannel/">
                                        <i class="icon social_facebook"></i>
                                    </a>
                                </li>
                                 <li>
                                    <a target="_blank" href="https://www.linkedin.com/company/proactivechannel/">
                                        <i class="icon social_linkedin"></i>
                                    </a>
                                </li>

                            </ul>--%>
                        </div>
                    </div>
                    <!--end of row-->

                    <div class="mobile-toggle">
                        <i class="icon icon_menu"></i>
                    </div>

                </div>
                <!--end of container-->
            </nav>
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <div class="footer-container">

            <footer class="bg-primary short-2">
                <div class="container">

                    <div class=" col-sm-2 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2 footercolor">WHO WE ARE</h5>
                        <ul class="footer_ul_amrc">
                            <li><a class="footercolor" href="who_we_are.aspx">Our Company</a></li>
                            <li><a class="footercolor" href="who_we_are.aspx">Our Purpose</a></li>
                            <li><a class="footercolor" href="who_we_are.aspx">Our Values </a></li>
                            <li><a class="footercolor" href="who_we_are.aspx">Our People</a></li>
                        </ul>
                        <br />
                        <h5 class="headin5_amrc col_white_amrc pt2 footercolor">WHY PROACTIVE CHANNEL</h5>

                        <ul class="footer_ul_amrc">
                            <li><a class="footercolor" href="About.aspx">Commitment</a></li>
                            <li><a class="footercolor" href="About.aspx">Enhanced Reports</a></li>
                        </ul>
                    </div>

                    <div class=" col-sm-2 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2 footercolor">CLIENT SOLUTIONS</h5>
                        <ul class="footer_ul_amrc">
                            <li><a class="footercolor" href="Online_Brand_protection.aspx">Online Brand Protection</a></li>
                            <li><a class="footercolor" href="<%= Page.ResolveUrl("~/anticounterfeiting.aspx") %>">Anticounterfeiting</a></li>
                            <li><a class="footercolor" href="<%= Page.ResolveUrl("~/anti_piracy.aspx") %>">Antipiracy </a></li>
                            <li><a class="footercolor" href="Online_Market_Monitoring.aspx">Online Market Monitoring</a></li>
                            <li><a class="footercolor" href="Social_Media_Monitoring.aspx">Social Media Monitoring</a></li>
                            <li><a class="footercolor" href="IP_Monitoring.aspx">IP Monitoring</a></li>
                        </ul>
                    </div>

                    <div class=" col-sm-3 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2 footercolor">BRAND PROTECTION</h5>
                        <ul class="footer_ul_amrc">
                            <li><a class="footercolor" href="why-proactive-channnel-brand-protection.aspx">Why Proactive Channel Brand Protection</a></li>
                            <li><a class="footercolor" href="Brand_Protection_Vital.aspx">Why Brand Protection is Vital For Brand</a></li>
                        </ul>

                    </div>

                    <div class=" col-sm-2 col-md  col-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2 footercolor">RESOURCES</h5>
                        <ul class="footer_ul_amrc">
                            <li><a class="footercolor" href="<%= Page.ResolveUrl("~/resources.aspx?brand=brandprotection&resources=BrandProtection") %>">Brand Protection</a></li>
                            <li><a class="footercolor" href="<%= Page.ResolveUrl("~/resources.aspx?brand=Anticounterfeiting&resources=Anticounterfeiting") %>">Anticounterfeiting</a></li>
                            <li><a class="footercolor" href="<%= Page.ResolveUrl("~/resources.aspx?brand=Antipiracy&resources=Antipiracy") %>">Antipiracy </a></li>
                            <li><a class="footercolor" href="Blogs.aspx">Blogs</a></li>
                            <li><a class="footercolor" href="NewsRoom.aspx">News</a></li>
                            <li><a class="footercolor" href="Upcoming_Events.aspx">Events</a></li>
                            <li><a class="footercolor" href="InsightsTrends.aspx">Insights & trends</a></li>
                            <li><a class="footercolor" href="Press_Release.aspx">Press Release</a></li>
                        </ul>
                    </div>
                    <!--end for row-->

                    <div class="col-sm-12">

                        <span class="text-white">
                            <br />
                            ©2018 Proactive Channel Private Limited. All Rights Reserved.</span>
                    </div>
                </div>
                <!--end of container-->

                <div class="contact-action">
                    <div class="align-vertical">
                        <i class="icon text-white icon_mail"></i>
                        <a href="Contact.aspx" class="text-white"><span class="text-white">CONNECT WITH PROACTIVE CHANNEL <i class="icon arrow_right"></i></span></a>
                        <br />
                        <br />
                        <ul class="social-icons text-right">
                            <li>
                                <a target="_blank" href="https://twitter.com/proactivchannel">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a target="_blank" href="https://www.facebook.com/proactivechannel/">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/company/proactivechannel/">
                                    <i class="icon social_linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="text-white"><a href="mailto:info@proactivechannel.com">info@proactivechannel.com</a></span>
                            <%--<span class="text-white">Mobile:  +91 97246 58585</span>
                            --%>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/scrollReveal.min.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/twitterFetcher_v10_min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/scripts.js"></script>
    </form>
</body>
</html>
