﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Online_Market_Monitoring.aspx.cs" Inherits="Cabling_Services" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <title>Online Market Monitoring services by Proactive Channel</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="main-container">
        <header class="page-header">
            <div class="background-image-holder parallax-background">
                <img class="background-image" alt="Background Image" src="img/market.jpg" />
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">


                        <h1 class="text-white">ONLINE MARKET MONITORING</h1>
                         <p class="lead text-white">Manage the major online platform to protect your brand from illegal sale, other illicit activity and constantly uncovering insights.</p>
                        
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </header>

        <section class="article-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-9">
                        <div class="article-body">
                            <p class="lead">
                                How we monitor online market?
							
                            </p>

                          <p>
                              Continuous monitoring on the sales activity occurring on all major online platforms with the competence to protect & enforce your Intellectual Property rights efficiently.<br /><br />
Our proven experienced brand protection specialists deliver actionable intelligence, using proprietary technology, and a best-in-class data source, which helps to Protects your revenues by taking down sites, listings selling grey market or counterfeit goods and reducing false warranty and customer service claims, resulted into mitigate the most important threats on a global basis.<br /><br />
A robust program in place to safeguards marketing investments, uncover illegitimate sales that that negatively affect a brand’s revenue and integrity.  Keeps brand strong in online market places.<br /><br />
Delivers key insights into how counterfeit, piracy trends are developing and gives you the best possible picture of the world's online markets. So we empower you with critical information.


                            </p>










                        </div>
                        <!--end of article body-->

                    </div>

                    <div class="col-sm-3 col-md-offset-1">
                        <div class="blog-sidebar">


                            <div class="sidebar-widget">
                                <h5>OUR SERVICES</h5>
                               
                                  <img src="img/Sales.jpg" /><br /> <br />Avail our vast range of services, uniquely customized for your business needs.<br /><br />
                                We have firm belief in catering to our clients strictly as per their specifications in order to facilitate their convenience in proficiently utilizing from the below services we offer.

                                <br />  <br />
                                <ul class="tags">
                                    <li><a href="Anti_Piracy.aspx">Anti-Piracy</a></li>
                                    <li><a href="Online_Brand_Protection.aspx">Online Brand Protection</a></li>
                                    <li><a href="Social_Media_Monitoring.aspx">Social Media Monitoring</a></li>
                                    <li><a href="IP_Monitoring.aspx">IP Monitoring</a></li>

                                </ul>

                              
                            </div>


                        </div>
                    </div>

                </div>
                <!--end of row-->

                <!--end of row-->

            </div>
            <!--end of container-->
        </section>

    </div>
</asp:Content>

