﻿@model IQueryable<InfringementViewModel>
@using GridMvc.Html
@{
    Layout = null;
}
@Styles.Render("~/css/gridMvc")
<style>
    .lable {
        font-weight: 700;
    }

    .hr {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
</style>
@helper ViewPlatform(string Platform, string Site)
{
    @Platform
    <br />
    @Site
}
@helper ViewTitle(string Title, string URLink)
{
    @Title
    <br />
    <a href="@Url.Content(URLink)" targ target="_blank">Open Link</a>
}
@helper ViewGallary(List<ImagesModel> Urls)
{
    foreach (var item in Urls)
    {
        <img src=@Url.Content(item.imageUrl) height="50px" width="50px" />
        <br />
    }
}

@helper ViewPrice(double Price, int Quantity)
{
    @Price
    <br />
    @Quantity
}
@helper ViewItem(string Item, string seller)
{
    @Item
    <br />
    @seller
}
@helper ViewItemLocation(string ItemLocation, string sellerlocation)
{
    @ItemLocation
    <br />
    @sellerlocation
}
@helper ViewInfrigmentType(string InfrigmentType, string Remark)
{
    @InfrigmentType
    <br />
    @Remark
}
@helper ViewCeaseandDesist(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <text>@item.Source</text>
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}
@helper ActionButtons(InfringementViewModel objData)
{
    <a href="#" data-toggle="modal" data-target="#@objData.InfringementId"
       class="btn btn-sm btn-primary card-link btn-grey">
        View Details
    </a>

    <a href="@Url.Action("Edit","Infringement",new { @id= objData.InfringementId })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> Edit
    </a>

    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@objData.InfringementId">
        <i class="icon-trash-o"></i> Delete
    </a>

    <a href="javascript:;" class="btn btn-sm btn-primary btn-grey deactivate" data-id="@objData.InfringementId" style="display:@(objData.ReviewStatus==ReviewStatus.Open ?"inline-block;":"none;")">

        <i class="icon-ban"></i> Closed
    </a>

    <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@objData.InfringementId" style="display:@(objData.ReviewStatus==ReviewStatus.Close ?"inline-block;":"none;")">
        <i class="icon-toggle-right"></i> Open
    </a>

    <div class="modal fade" id="@objData.InfringementId" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title white" id="fp_ModalLabel">@objData.Title</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <label class="lable">Client Name</label>
                            </div>
                            <div class="col-md-6">
                                @objData.ClientName
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Infringement Type</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.InfringementType
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Platform</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.Platform
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Item Location</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.ItemLocation
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Item</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.ItemNumber
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Price</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.Price
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Quantity</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.Quantity
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Remark</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.Remark
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Seller Location</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.SellerLocation
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">URL</label>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Content(objData.Url)" target="_blank">Open Link</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Review Status</label>
                                </div>
                                <div class="col-md-6">
                                    @objData.ReviewStatus
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label class="lable">Cease & desist</label>
                                </div>
                                <div class="col-md-6">
                                    @foreach (var item in objData.CeaseandDesistImageList)
                                    {
                                        <text>@item.Source</text>
                                        <a href="@item.imageUrl" target="_blank">View File</a>
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="lable">Images</label>
                                </div>
                                @foreach (var item in objData.imageList)
                                {
                                    <div class="col-md-4">
                                        <img src=@Url.Content(item.imageUrl) height="200px" width="100%" />
                                    </div>
                                }

                            </div>
                        </div>&nbsp;
                    </form>
                </div>
            </div>
        </div>
    </div>
}
@helper GetCheckBox(int InfringementId)
{
    <input type="checkbox" data-id="@InfringementId" width="10px" class="chk-group slectInfringementId" />
}
@helper ViewFile(List<CeaseandDesistImagesModel> File)
{
    foreach (var item in File)
    {
        <text>@item.Source</text>
        <a href="@item.imageUrl" target="_blank">View File</a>
        <br />
    }
}
@helper ViewStatus(ReviewStatus reviewStatus)
{
    switch (reviewStatus)
    {
        case ReviewStatus.Pending:
            <i class="icon-open">Pending</i>
            break;
        case ReviewStatus.Close:
            <i class="icon-close">Close</i>
            break;
        case ReviewStatus.Open:
            <i class="icon-close">Open</i>
            break;
        case ReviewStatus.RetractByClient:
            <i class="icon-close">RetractByClient</i>
            break;
        default:
            break;
    }
}

@helper ViewDates(DateTime Reported, DateTime? Updated)
{
    @Reported
    <br />
    @Updated
}

@helper ViewStat(ReviewStatus status, bool isrepeated)
{
    if (status == ReviewStatus.Approved)
    {

        @ReviewStatus.Open
        <br />
    }
    else if (status == ReviewStatus.Reject)
    {
        @ReviewStatus.Close
        <br />

    }
    else
    {
        @status
        <br />
    }

    if (isrepeated)
    {
        <p>Yes</p>
    }
    else
    {
        <p>No</p>
    }
}
<style>
    .form label {
        color: #414141;
        font-weight: 700;
    }
</style>
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Infringement data</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <input type="checkbox" id="select_all" class="form-control chk-all" /> &nbsp; &nbsp;Select All&nbsp;&nbsp;
                            </li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>

                            <li class="btn btn-white">
                                <a href="@Url.Action("ExportInfringementData")" class="primary">
                                    <i class="primary"></i>&nbsp;Export
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add().Encoded(false).Sanitized(false).RenderValueAs(x => GetCheckBox(x.InfringementId));
                               column.Add(p => p.Platform).Titled(Html.Raw("Plateform <br/><hr> Site").ToString()).Encoded(false).Sanitized(false).Sortable(true).Filterable(true);

                               column.Add(p=>p.Title).Titled(Html.Raw("Title <br/><hr> Url").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewTitle(x.Title, x.Url));

                               column.Add().Titled("Gallery").Encoded(false).Sanitized(false).RenderValueAs(x => ViewGallary(x.imageList));

                               column.Add(p=>p.Price).Titled(Html.Raw("Price <br/><hr> Quantity").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewPrice(x.Price, x.Quantity));

                               column.Add(p=>p.ClientName).Titled(Html.Raw("Item <br/><hr> Seller").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItem(x.ItemNumber, x.ClientName));

                               column.Add(p=>p.ItemLocation).Titled(Html.Raw("Item Location <br/><hr> Seller Location").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewItemLocation(x.ItemLocation, x.SellerLocation));

                               column.Add(p=>p.Remark).Titled(Html.Raw("Infrigment Type <br/><hr> Remark").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewInfrigmentType(x.InfringementType, x.Remark)).SetWidth(200);

                               column.Add(p=>p.CeaseandDesistImageList).Titled("Cease and desist").Encoded(false).Sanitized(false).RenderValueAs(x => ViewFile(x.CeaseandDesistImageList)).SetWidth(300);

                               column.Add(p => p.ReviewStatus).Titled(Html.Raw("Status <br/><hr>IsRepeated ").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewStat(x.ReviewStatus,x.IsRepeated)).SetWidth(300);

                               column.Add(p => p.ReportedTime).Titled(Html.Raw("Reported Time <br/><hr> Removed Time").ToString()).Encoded(false).Sanitized(false).RenderValueAs(x => ViewDates(x.ReportedTime,x.RemovedTime)).SetWidth(300);

                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                                    .RenderValueAs(x => ActionButtons(x)).SetWidth(300);
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });



        $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to open this Infringement?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, Opened it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".deactivate").show()
                                     control.hide()
                                 }, 300);

                                 swal("Opned!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".deactivate").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to Closed this Infringement?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, Closed it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".activate").show()
                                     control.hide()
                                 }, 300);
                                 swal("Closed!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });
    </script>
}
