﻿<!DOCTYPE html>
@{
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
    Role UserRole = ViewBag.UserRole;
}
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-w idth, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title -@GlobalConfig.ProjectName</title>
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Files/DefaultImages/favicon/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32.png")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/menu")
    @Scripts.Render("~/jQuery/bundles")
    @Styles.Render("~/css/zoom")
    <script src="~/Content/Plugins/zoom/zoom.js"></script>
    <link href="~/Content/Plugins/zoom/zoom.css" rel="stylesheet" />
    <style type="text/css">
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(@Url.Content("~/Content/Images/DefaultImages/Preloader_10.gif")) center no-repeat #fff;
        }
    </style>

    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>*@
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar" id="body">
    <div class="se-pre-con"></div>
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                            <i class="icon-menu5 font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="navbar-brand nav-link">
                            <img alt="@GlobalConfig.ProjectName" src="@Url.Content("~/Content/Images/DefaultImages/Proactivechannel.png")" class="brand-logo"
                                 data-expand="@Url.Content("~/Content/Images/DefaultImages/Proactivechannel.png")"
                                 data-collapse="@Url.Content("~/Content/Images/DefaultImages/small-logo.png")">
                        </a>
                    </li>
                    <li class="nav-item hidden-md-up float-xs-right">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a>
                        </li>
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img src="@Url.Content("~/Content/Images/DefaultImages/admin_avtar.png")" alt="avatar"><i></i>
                                </span>
                                <span class="user-name">@ViewBag.FullName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("changepassword", "Account")" class="dropdown-item"><i class="icon-head"></i> change password</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Logout","Account")" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                @if (UserRole == Role.Admin)
                {
                    <li class="nav-item" id="liHome">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="icon-home3"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liUser">
                        <a href="@Url.Action("Index", "User")">
                            <i class="icon-user"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">All Client</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liInfringements">
                        <a href="@Url.Action("Index", "Infringement")">
                            <i class="icon-infinite"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Infringements</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liInsightsTrends">
                        <a href="@Url.Action("Index", "InsightsTrends",new { PageContent.InsightsAndTrends })">
                            <i class="icon-infinite"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Insights & trends</span>
                        </a>
                    </li>
                    <li class="nav-item" id="li@(PageContent.Blogs.ToString())">
                        <a href="@Url.Action("Index", "Blog",new {@PageContent= PageContent.Blogs })">
                            <i class="icon-blog"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Blog</span>
                        </a>
                    </li>

                    <li class="nav-item" id="li@(PageContent.UpcomingEvents.ToString())">
                        <a href="@Url.Action("Index", "Blog",new {@PageContent= PageContent.UpcomingEvents })">
                            <i class="icon-evernote"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Upcoming Events</span>
                        </a>
                    </li>

                    <li class="nav-item" id="li@(PageContent.Newsroom.ToString())">
                        <a href="@Url.Action("Index", "Blog",new {@PageContent= PageContent.Newsroom })">
                            <i class="icon-news"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Newsroom</span>
                        </a>
                    </li>

                    <li class="nav-item" id="li@(PageContent.PressRelease.ToString())">
                        <a href="@Url.Action("Index", "Blog",new {@PageContent= PageContent.PressRelease })">
                            <i class="icon-presentation"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Press Release</span>
                        </a>
                    </li>

                    <li class="nav-item" id="li@(PageContent.PressRelease.ToString())">
                        <a href="@Url.Action("Index", "Resource")">
                            <i class="icon-content-right"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Page Resource</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liSellers">
                        <a href="@Url.Action("Index", "Seller")">
                            <i class="icon-content-right"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Sellers</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#">
                            <i class="icon-globe"></i><span data-i18n="nav.templates.main" class="menu-title">Country</span>
                        </a>
                        <ul class="menu-content">
                            <li id="liCountry">
                                <a href="@Url.Action("Index", "Country")" data-i18n="nav.templates.vert.main" class="menu-item">View Countries</a>
                            </li>
                            <li id="liCountryAdd">
                                <a href="@Url.Action("Add", "Country")" data-i18n="nav.templates.horz.main" class="menu-item">Add Country</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="icon-globe"></i><span data-i18n="nav.templates.main" class="menu-title">Infringement Type</span>
                        </a>
                        <ul class="menu-content">
                            <li id="liInfringementType">
                                <a href="@Url.Action("Index", "InfringementType")" data-i18n="nav.templates.vert.main" class="menu-item">View Infringement Type</a>
                            </li>
                            <li id="liCountryAdd">
                                <a href="@Url.Action("Add", "InfringementType")" data-i18n="nav.templates.horz.main" class="menu-item">Add Infringement Type</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="icon-globe"></i><span data-i18n="nav.templates.main" class="menu-title">Platform</span>
                        </a>
                        <ul class="menu-content">
                            <li id="liPlatform">
                                <a href="@Url.Action("Index", "Platform")" data-i18n="nav.templates.vert.main" class="menu-item">View Platform</a>
                            </li>
                            <li id="liCountryAdd">
                                <a href="@Url.Action("Add", "Platform")" data-i18n="nav.templates.horz.main" class="menu-item">Add Platform</a>
                            </li>
                        </ul>
                    </li>
                }
                else if (UserRole == Role.Client)
                {
                    <li class="nav-item" id="liHome">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="icon-home3"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            <i class="icon-globe"></i><span data-i18n="nav.templates.main" class="menu-title">Infringement</span>
                        </a>
                        <ul class="menu-content">
                            <li id="liAllInfringement">
                                <a href="@Url.Action("AllInfringement", "Infringement")" data-i18n="nav.templates.vert.main" class="menu-item">All Infringement </a>
                            </li>

                            <li id="liAllInfringement">
                                <a href="@Url.Action("Closed", "Infringement")" data-i18n="nav.templates.vert.main" class="menu-item">Removed Infrigement</a>
                            </li>

                            <li id="liAllInfringement">
                                <a href="@Url.Action("Opened", "Infringement")" data-i18n="nav.templates.vert.main" class="menu-item">Reported Infrigement</a>
                            </li>
                           
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#">
                            <i class="icon-man2"></i><span data-i18n="nav.templates.main" class="menu-title">For Client Review</span>
                        </a>
                        <ul class="menu-content">                            

                            <li id="liAllInfringementReview">
                                <a href="@Url.Action("AllInfringementReview", "Infringement")" data-i18n="nav.templates.horz.main" class="menu-item">Pending Client Review</a>
                            </li>
                            <li id="liInfringementAccepted">
                                <a href="@Url.Action("Accepted", "Infringement")" data-i18n="nav.templates.horz.main" class="menu-item">Approved Infringement</a>
                            </li>
                            <li id="liInfringementRejected">
                                <a href="@Url.Action("Rejected", "Infringement")" data-i18n="nav.templates.horz.main" class="menu-item">Rejected Infringement</a>
                            </li>
                            <li id="liInfringementRetract">
                                <a href="@Url.Action("Retract", "Infringement")" data-i18n="nav.templates.horz.main" class="menu-item">Retracted Infringement</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" id="liInsightsTrends">
                        <a href="@Url.Action("IndexByUser", "InsightsTrends")">
                            <i class="icon-infinite"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Insights & trends</span>
                        </a>
                    </li>

                    <li class="nav-item" id="liRepeatedInfregment">
                        <a href="@Url.Action("RepeatedInfregment", "Seller")">
                            <i class="icon-infinite"></i>
                            <span data-i18n="nav.dash.main" class="menu-title">Repeated Infregment</span>
                        </a>
                    </li>

                }
            </ul>
        </div>
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            @*@Html.Partial("_Breadcrumb")*@
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2">
            <span class="float-md-left d-xs-block d-md-inline-block">
            </span>
            <span class="float-md-right d-xs-block d-md-inline-block">
                Copyright  &copy; @DateTime.Now.Year
                <a href="#" target="_blank" class="text-bold-800 grey darken-2">@GlobalConfig.ProjectName</a>, All rights reserved.
            </span>
        </p>
    </footer>

    @Scripts.Render("~/jQuery/core")
    @Scripts.Render("~/jQuery/ui")
    @Scripts.Render("~/jQuery/zoom")
    @RenderSection("scripts", required: true)
    <script>
        $(function () {
            $('img').attr('data-action', 'zoom');

        var status =@status;
        if(status==0){
            toastr.error('@message', 'Error !');
        }
        else if(status==1){
            toastr.success('@message', 'Success.');
        }
        else if(status==2){
            toastr.info('@message', 'Info.');
        }
        else if(status==3){
            toastr.warning('@message', 'Warning !');
        }
        else if(status==4){
            toastr.info('@message', 'Message.');
        }
    });
    </script>
</body>
</html>