﻿@model SummaryModel

   
    <tr align="center">
        <td style="padding: 2px !important;">Close</td>
        <td style="padding: 2px !important;">@Model.close</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;">Open</td>
        <td style="padding: 2px !important;">@Model.Open</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;">Pending</td>
        <td style="padding: 2px !important;">@Model.pending</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;">Retracted</td>
        <td >@Model.retracted</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;">Reject</td>
        <td style="padding: 2px !important;">@Model.Rejected</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;">Approved</td>
        <td style="padding: 2px !important;">@Model.Approved</td>
    </tr>
    <tr align="center">
        <td style="padding: 2px !important;"><b>TOTAL</b></td>
        <td style="padding: 2px !important;">@Model.Total</td>
    </tr>
 
