﻿@model ResourceContentModel
@{
    ViewBag.Title = "AddUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;

    UploadImageModel objUploadImage = new UploadImageModel() { imageUrl = GlobalConfig.BrandImageUrl + "Default.jpg", saveFilePath = GlobalConfig.BrandImagePath, hdnImageName = "ImageName" };

}
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/summernote")
@Styles.Render("~/css/icheck")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Resource", FormMethod.Post, new { @id = "frmAddInsights", @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {

                @Html.HiddenFor(x => x.Id)
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@ViewBag.TitleName</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.BrandImageUrl + Model.imageName, saveFilePath = GlobalConfig.BrandImagePath, hdnImageName = "imageName" })
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(x => x.Title, new { @class = "form-control require", @placeholder = "Enter title here" })
                                                @Html.ValidationMessageFor(x => x.Title)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.DropDownListFor(x => x.ResourceType, new SelectList(ViewData["ResourceTypeList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Page Type", new { @class = "form-control select2Group" })
                                                @Html.ValidationMessageFor(x => x.ResourceType)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                @Html.EnumDropDownListFor(x => x.ContentType, new { @class = "form-control require", @placeholder = "Enter author name" })
                                                @Html.ValidationMessageFor(x => x.ContentType)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12" style="align-content:center">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control require", @placeholder = "Enter content here" })
                                            @Html.ValidationMessageFor(x => x.Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/summernote")
    @Scripts.Render("~/jQuery/uploadImage")
    <script type="text/javascript">
        ActiveMenu('@Model.ResourceType.ToString()@Model.ContentType.ToString()');
        $(function () {
            $('#Description').summernote({
                height: 200,                 // set editor height
              //  width: 1300,   //don't use px
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,
                //toolbar: [
                //    ['style', ['bold', 'italic', 'underline', 'clear']],
                //    ['fontsize', ['fontsize']],
                //    ['color', ['color']],
                //    ['para', ['ul', 'ol', 'paragraph']],
                //    ['height', ['height']],
                //],
            });
        });

    </script>

}