﻿@model InsightsTrendsModel
@{
    ViewBag.Title = ViewBag.Action + "Insights Trend";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}
@Styles.Render("~/css/summernote")
@Styles.Render("~/css/icheck")
@Styles.Render("~/css/uploadImage")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Add", "InsightsTrends", FormMethod.Post, new { @id = "frmAddInsights", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@ViewBag.Action Insights & Trends</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.BrandImageUrl + Model.imageName, saveFilePath = GlobalConfig.BrandImagePath, hdnImageName = "imageName" })
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control require", @placeholder = "Enter title here" })
                                        @Html.ValidationMessageFor(x => x.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12" style="align-content:center">
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control require", @placeholder = "Enter content here" })
                                            @Html.ValidationMessageFor(x => x.Description)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/summernote")
    @Scripts.Render("~/jQuery/uploadImage")
    <script type="text/javascript">
        $(function () {
            $('#Description').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                ],
            });
        });
    </script>

}