﻿@model IEnumerable<InsightsTrendsModel>
@using GridMvc.Html
@{
    ViewBag.Title = "IndexByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Role UserRole = ViewBag.UserRole;
}
@helper BindPopUp(int id, string Descriptipon, string Title)
{
    <a href="#" data-toggle="modal" data-target="#@id"
       class="card-link">
        View Insights Trends
    </a>
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fp_ModalLabel">@Title</h5>
                </div>
                <div class="modal-body">
                    @Html.Raw(HttpUtility.HtmlDecode(Descriptipon))
                </div>
            </div>
        </div>
    </div>
}


<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Insights Trends</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(x => x.Title).Titled("Title");
                               column.Add(x => x.Description).Titled("Description").Encoded(false).Sanitized(false).RenderValueAs(x => BindPopUp(x.Id, x.Description, x.Title));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

}
