﻿@model ChartListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
                <div class="card box-shadow-0 border-primary">
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="col-md-6" id='chart-container'>FusionCharts will render here</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" style="overflow-x:auto;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr align="center">
                                                <th>Infringement Type</th>
                                                <th>Total Infringement</th>
                                                <th>Close (%)</th>
                                                <th>Open (%)</th>
                                                <th>Pending (%)</th>
                                                <th>Retract by client (%)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.List)
                                            {
                                                <tr align="center">
                                                    <td> @(item.label)</td>
                                                    <td> @(item.value)</td>
                                                    <td> @(item.close * 100 / item.value)</td>
                                                    <td> @(item.open * 100 / item.value)</td>
                                                    <td> @(item.pending * 100 / item.value)</td>
                                                    <td> @(item.retractbyclient * 100 / item.value)</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/Content/Jquery/main/jquery.min.js"></script>
    <script src="~/Content/Plugins/FusionChart/js/fusioncharts.js"></script>
    <script>
        var targetData =@Html.Raw(Json.Encode(Model.List));
        var height = ($(window).height()-40) + "px";
        console.log(height)
        FusionCharts.ready(function () {
            var fusioncharts = new FusionCharts({
                type: 'pie2d',
                renderAt: 'chart-container',
                width: '500',
                  height: '500',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Infringement wise Chart",
                        "bgcolor": "FFFFFF",
                        "showvalues": "1",
                        "showpercentvalues": "1",
                        "showborder": "1",
                        "showplotborder": "0",
                        "showlegend": "1",
                        "legendborder": "0",
                        "legendposition": "bottom",
                        "enablesmartlabels": "1",
                        "use3dlighting": "1",
                        "showshadow": "0",
                        "legendbgcolor": "#CCCCCC",
                        "legendbgalpha": "20",
                        "legendborderalpha": "1",
                        "legendshadow": "1",
                        "legendnumcolumns": "3",
                        "palettecolors": "#f8bd19,#e44a00,#008ee4,#33bdda,#6baa01,#583e78"
                    },
                    "data": targetData,
                }
            });
            fusioncharts.render();
        });
    </script>
}