﻿@model ChartListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td {
        padding: 2px !important;
    }
</style>

@using (Ajax.BeginForm("SummaryByDate", "Account", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SummaryBodyId"
    //OnComplete = "LoadPrice"
}, new { @id = "frmSummary", @class = "form-inline" }))
{
    @Html.Hidden("StartDate")
    @Html.Hidden("EndDate")
}
<div class=" col-md-12">
    <div class="col-md-4" id='chart-container'>FusionCharts will render here</div>
    <div class="col-md-4" id='BarChart-container'>FusionCharts will render here</div>
    <div class="col-md-4">
        <div class="row">
            <div class="card box-shadow-0 border-primary">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-md-12" style="overflow-x:auto;" Style="height:230px;">
                                Summary
                                <table class="table table-striped">
                                    <thead>
                                        <tr align="center">
                                            <th><input type="text" name="StartDate1" class="form-control dtpicker" placeholder="start date" id="startdate" /></th>
                                            <th><input type="text" name="EndDate" class="form-control dtpicker" placeholder="end date" id="enddate" /></th>
                                        </tr>
                                    </thead>
                                    <tbody id="SummaryBodyId">
                                        <tr align="center">
                                            <td>Close</td>
                                            <td>@Model.Summary.close</td>
                                        </tr>
                                        <tr align="center">
                                            <td>Open</td>
                                            <td>@Model.Summary.Open</td>
                                        </tr>
                                        <tr align="center">
                                            <td>Pending</td>
                                            <td>@Model.Summary.pending</td>
                                        </tr>
                                        <tr align="center">
                                            <td>Retracted</td>
                                            <td>@Model.Summary.retracted</td>
                                        </tr>
                                        <tr align="center">
                                            <td>Reject</td>
                                            <td>@Model.Summary.Rejected</td>
                                        </tr>
                                        <tr align="center">
                                            <td>Approved</td>
                                            <td>@Model.Summary.Approved</td>
                                        </tr>
                                        <tr align="center">
                                            <td><b>TOTAL</b></td>
                                            <td>@Model.Summary.Total</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12"><br /><br /></div>
<div class="col-md-12">
    <div class="col-md-8">
        <div class="row"></div>
        <div class="row">
            <div class="card box-shadow-0 border-primary">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <div class="form-group row">
                            <div class="col-md-12" style="overflow-x:auto;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr align="center">
                                            <th align="center">Platform Name</th>
                                            <th>Total Infringement</th>
                                            <th>Close (%)</th>
                                            <th>Open (%)</th>
                                            <th>Pending (%)</th>
                                            <th>Retract by client (%)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.List)
                                        {
                                            <tr align="center">
                                                <td> @(item.label)</td>
                                                <td> @(item.value)</td>
                                                <td> @(item.close * 100 / item.value)</td>
                                                <td> @(item.open * 100 / item.value)</td>
                                                <td> @(item.pending * 100 / item.value)</td>
                                                <td> @(item.retractbyclient * 100 / item.value)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    <script src="~/Content/Jquery/main/jquery.min.js"></script>
    <script src="~/Content/Plugins/FusionChart/js/fusioncharts.js"></script>
    <script src="~/Content/Plugins/FusionChart/js/HulkTheme.js"></script>
    <script src="~/Content/Plugins/datetimepicker/js/moment.js"></script>
    <script src="~/Content/Plugins/Timepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/Plugins/datepicker/bootstrap-datepicker.js"></script>
    @Scripts.Render("~/jQuery/validate")
    <script>

        $(document).ready(function () {
            $('.dtpicker').datepicker({
                autoclose: true,
                format: "dd-M-yy",
                todayBtn: "linked",
                maxDate: (365),
            });

            $('#startdate').removeAttr("data-val-date");
            $('#enddate').removeAttr("data-val-date");
        });


        $("#enddate").change(function () {
            alert('');
            var startDate = document.getElementById("startdate").value;
            $('#StartDate').val(startDate); 
            var endDate = document.getElementById("enddate").value;
            $('#EndDate').val($(this).val());
            console.log(startDate);
            console.log(endDate);
            if ((Date.parse(endDate) <= Date.parse(startDate))) {
                toastr.warning('End date should be greater than Start date', 'Warning !');
                document.getElementById("enddate").value = "";
            }
            else {
                $('#frmSummary').submit();
            }
        });

        var targetData =@Html.Raw(Json.Encode(Model.List));
        var height = ($(window).height()-40) + "px";
        FusionCharts.ready(function () {
            var fusioncharts = new FusionCharts({
                type: 'pie2d',
                renderAt: 'chart-container',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Platform wise Chart",
                        "bgcolor": "FFFFFF",
                        "showvalues": "1",
                        "showpercentvalues": "1",
                        "showborder": "1",
                        "showplotborder": "0",
                        "showlegend": "1",
                        "legendborder": "0",
                        "legendposition": "bottom",
                        "enablesmartlabels": "1",
                        "use3dlighting": "1",
                        "showshadow": "0",
                        "legendbgcolor": "#CCCCCC",
                        "legendbgalpha": "20",
                        "legendborderalpha": "1",
                        "legendshadow": "1",
                        "legendnumcolumns": "3",
                        "palettecolors": "#f8bd19,#e44a00,#008ee4,#33bdda,#6baa01,#583e78"
                    },
                    "data": targetData,
                }
            });
            fusioncharts.render();
        });
    </script>
    <script>
        var barchart =@Html.Raw(Json.Encode(Model.dataset.dataset));
        var categorylist=@Html.Raw(Json.Encode(Model.dataset.barchartlist))
        FusionCharts.ready(function () {
            var fusioncharts1 = new FusionCharts({
                type: 'MSColumn2D',
                renderAt: 'BarChart-container',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Infrigment Chart Report ",
                        //"subcaption": "In Billion $",
                        "yaxismaxvalue": "100",
                        "decimals": "0",
                        "numberprefix": "",
                        //"numbersuffix": "B",
                        "placevaluesinside": "1",
                        "rotatevalues": "0",
                        "divlinealpha": "50",
                        "plotfillalpha": "80",
                        "drawCrossLine": "1",
                        "crossLineColor": "#cc3300",
                        "crossLineAlpha": "100",
                        "theme": "hulk-light"
                    },
                    "categories": [{
                        "category": categorylist
                    }],
                    "dataset": barchart,
                }
            });
            fusioncharts1.render();
        });
        //FusionCharts.ready(function () {
        //    var salesChart = new FusionCharts({
        //        type: 'MSColumn2D',
        //        renderAt: 'BarChart-container',
        //        dataFormat: 'json',
        //        dataSource: {
        //            "chart": {
        //                "caption": "Infrigment Chart Report ",
        //                //"subcaption": "In Billion $",
        //                "yaxismaxvalue": "250",
        //                "decimals": "0",
        //                "numberprefix": "",
        //                //"numbersuffix": "B",
        //                "placevaluesinside": "1",
        //                "rotatevalues": "0",
        //                "divlinealpha": "50",
        //                "plotfillalpha": "80",
        //                "drawCrossLine": "1",
        //                "crossLineColor": "#cc3300",
        //                "crossLineAlpha": "100",
        //                "theme": "zune"
        //            },
        //            "categories": [{
        //                "category": targetData
        //            }],
        //            "dataset": barchart
        //        }
        //    })
        //        .render();
        //});
    </script>
}