﻿@model IEnumerable<ResourceContentModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@helper ActionButtons(int Id)
{
    <a href="@Url.Action("Edit", "Resource", new { @id = Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> Edit
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@Id">
        <i class="icon-trash-o"></i> Delete
    </a>
}
@helper BindPopUp(int id, string Descriptipon, string Title)
{
    <a href="#" data-toggle="modal" data-target="#@id"
       class="card-link">
        View Details
    </a>
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fp_ModalLabel">@Title</h5>
                </div>
                <div class="modal-body">
                    @Html.Raw(HttpUtility.HtmlDecode(Descriptipon))
                </div>
            </div>
        </div>
    </div>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All resource Details</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add","Resource")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New resource
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(x => x.Title).Titled("Title");
                               column.Add(x => x.ContentType).Titled("Content Type");
                               column.Add(x => x.ResourceType).Titled("Resource Type");
                               column.Add(x => x.Description).Titled("Description").Encoded(false).Sanitized(false).RenderValueAs(x => BindPopUp(x.Id, x.Description, x.Title));
                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.Id)).SetWidth(300);
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Resource");
         $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}

