﻿@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Error.cshtml";
}
<div class="content-body">
    <section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1">
            <div class="card-header bg-transparent no-border pb-0">
                <h2 class="error-code text-xs-center mb-2">401</h2>
                <h3 class="text-uppercase text-xs-center">Unauthorized Access.</h3>
            </div>
            <div class="card-body collapse in">
                <div class="row py-2">
                    <div class="col-xs-12">
                        <a href="@Url.Action("Login","Account")" class="btn btn-block font-small-3">
                            <i class="icon-lock"></i> Back to Home
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent pb-0">
                <div class="row">
                    <p class="text-xs-center col-xs-12 py-1">© @DateTime.Now.Year <a href="@Url.Action("Index","Home")">@GlobalConfig.ProjectName </a></p>
                </div>
            </div>
        </div>
    </section>
</div>