﻿@model AdminChangePasswordModel
    @{
        ViewBag.Title = "Change Password";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <section id="validation">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                    <div class="card box-shadow-0 border-primary">
                        <div class="card-header card-head-inverse bg-primary">
                            <h4 class="card-title">Change Password</h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Current Password <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter Current Password"></span></label>
                                            <div class="col-md-6">
                                                @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.CurrentPassword)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">New Password <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter New Password"></span></label>
                                            <div class="col-md-6">
                                                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.NewPassword)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-4">Confirm Password <span class="red">*</span> <span class="icon-question-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Confirm Password"></span></label>
                                            <div class="col-md-6">
                                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <input type="submit" class="btn btn-md btn-primary" value="Change Password" />
                                        <a href="@Url.Action("Index","Home")" class="btn btn-md btn-grey">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>



    @section Scripts {
        @Scripts.Render("~/jQuery/validate")
        <script>
            ActiveMenu("Dashboard");
        </script>
    }