﻿@model AdminLoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>Login Page - @GlobalConfig.ProjectName Admin Panel</title>
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/DefaultImages/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Files/DefaultImages/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#005893">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Files/DefaultImages/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#005893">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/icheck")
    @Styles.Render("~/css/login-register")

</head>
<body data-open="click" data-menu="vertical-content-menu" data-col="1-column" class="vertical-layout vertical-content-menu 1-column bg-cyan bg-lighten-2 blank-page blank-page  pace-done" id="body">
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header no-border">
                                <div class="card-title text-xs-center">
                                    <div class="p-1"><img src="~/Files/DefaultImages/login-logo.png" alt="branding logo"></div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Login with @GlobalConfig.ProjectName</span></h6>
                            </div>
                            <div class="card-body collapse in">
                                <div class="col-lg-12">
                                    @Html.Partial("_Alert")
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-block">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-simple" }))
                                    {
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control form-control-lg input-lg", @placeholder = "Enter e-mail address" })
                                            <div class="form-control-position">
                                                <i class="icon-head"></i>
                                            </div>
                                        </fieldset>

                                        <fieldset class="form-group position-relative has-icon-left">
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control form-control-lg input-lg", @placeholder = "Enter Password" })
                                            <div class="form-control-position">
                                                <i class="icon-key3"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group row">
                                            <div class="col-md-6 col-xs-12 text-xs-center text-md-left">
                                                @*<fieldset>
                                                        <input type="checkbox" id="remember-me" class="chk-icheck">
                                                        <label for="remember-me">Remember Me</label>
                                                    </fieldset>*@
                                            </div>
                                            <div class="col-md-6 col-xs-12 text-xs-center text-md-right">
                                                <a href="#" data-toggle="modal" data-target="#fp_Modal"
                                                   data-whatever="@Model.EmailId"
                                                   class="card-link">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </fieldset>
                                        @*<button type="submit" class="btn btn-info btn-lg btn-block">
                                                <i class="icon-unlock2"></i> Login
                                            </button>*@
                                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-unlock2"></i> Login</button>
                                        @Html.ValidationSummary();
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fp_Modal" tabindex="-1" role="dialog" aria-labelledby="fp_ModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fp_ModalLabel">Forgot Password</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <p>We will send you a link to reset your password.</p>
                        <div class="form-group">
                            <input type="email" class="form-control" id="fp_emailId" placeholder="enter registered email address here">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SendForgotPasswordEmail()">Send an email</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/jQuery/bundles")
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/iCheck")
    <style>
        .p-1 {
            padding: unset !important;
        }

        .bg-cyan.bg-lighten-2 {
            background-color: #005893 !important;
        }
    </style>
    <script>
        function SendForgotPasswordEmail() {
            var fp_emailId = $("#fp_emailId").val();
            console.log(fp_emailId);

            var model = {
                email: fp_emailId
            };
            var PostUrl = '@Url.Action("ForgotPassword", "Account")';
            console.log(PostUrl)
            $.post("@Url.Action("ForgotPassword", "Account")", { 'email': fp_emailId }).done(function (result) {
                $("#solid-alerts").show();
                $('#solid-alerts #message').text(result.message);
                if (result.status == @Html.Raw(Json.Encode(ResponseStatus.Success))) {
                    $("#solid-alerts .alert").addClass("bg-success");
                }
                else {
                    $("#solid-alerts .alert").addClass("bg-danger");
                }
                $("#fp_Modal").modal('hide');
            }).error(function (error) {
                console.log(error)
                $('#solid-alerts #message').text(error.status + ", " + error.statusText);
            });
        }
    </script>
</body>
</html>