﻿@model UserAddUpdateModel
@{
    ViewBag.Title = ViewBag.Action + "Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}
@Styles.Render("~/css/select2")
@section Scripts {
@Scripts.Render("~/jQuery/validate")
@Scripts.Render("~/jQuery/select2")
    <script>

        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("User" + pageName)

        $(document).ready(function (e) {
            $(".select2Group").select2({
                placeholder: "Select Group",
                allowClear: true
            });
        });
    </script>
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "User", FormMethod.Post))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.userId)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@_action Client</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Full Name <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Email Address <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.EmailId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Country&nbsp;Name<span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewData["CountryList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Group", new { @class = "form-control select2Group" })
                                            @Html.ValidationMessageFor(x => x.CountryId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Remark <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Remark, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Remark)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Source <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Source, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Source)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>