﻿@model IEnumerable<UserViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "View Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@helper ActionButtons(string userId, bool IsActive)
{
    <a href="@Url.Action("Edit","User",new { @userId= userId })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> Edit
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deactivate" data-id="@userId" style="display:@(IsActive?"inline-block;":"none;")">
        <i class="icon-ban"></i> Deactivate
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-green activate" data-id="@userId" style="display:@(!IsActive?"inline-block;":"none;")">
        <i class="icon-check"></i> Activate
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@userId">
        <i class="icon-trash-o"></i> Delete
    </a>
}
@helper ViewChart(string userId, string Name)
{
    @Name
    <br />
    <a href=@Url.Action("ViewByClientId","Home", new { @userId = userId })>View Chart</a>
}

<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">View Client</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.Name).Titled("Name").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ViewChart(x.UserId, x.Name)); ;
                               column.Add(t => t.EmailId).Titled("Email");
                               column.Add(t => t.Country).Titled("Country");
                               column.Add(t => t.Renark).Titled("Remark").SetWidth(200);
                               column.Add(t => t.Source).Titled("Source").SetWidth(200);
                               column.Add(t => t.CreateDate).Titled("Date").Format("{0:dd/MM/yyyy}");
                               //column.Add().Titled("Chart").Encoded(false).Sanitized(false)
                               // .RenderValueAs(x => ViewChart(x.UserId));
                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.UserId, x.IsActive));

                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
        ActiveMenu("User");
    </script>
    <script type="text/javascript">
        $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });

        $(function () {
            $(".activate").click(function () {
                var control = $(this);
                var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to activate this user?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, activated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".deactivate").show()
                                     control.hide()
                                 }, 300);

                                 swal("Activated!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
             });

            $(".deactivate").click(function () {
                 var control = $(this);
                 var Url = '@Url.Action("ActiveToggle")';

                 swal({
                     title: "Are you sure to deactivate this user?",
                     //text: "You will not be able to recover this date!",
                     type: "warning",
                     showCancelButton: true,
                     confirmButtonColor: "#DA4453",
                     confirmButtonText: "Yes, deactivated it!",
                     cancelButtonText: "No, cancel plx!",
                     closeOnConfirm: false,
                     closeOnCancel: false
                 }, function (isConfirm) {
                     if (isConfirm) {
                         $.post(Url, { 'id': $(control).attr('data-id') }, function (response) {
                             if (response.status == 0) {
                                 control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                                 swal("Error", response.message, "error");
                             }
                             else {
                                 setTimeout(function () {
                                     control.parent().find(".activate").show()
                                     control.hide()
                                 }, 300);
                                 swal("Deactivated!", response.message, "success");
                             }
                         });
                     } else {
                         control.children('i').removeClass('icon-spinner10 spinner').addClass('icon-trash-o');
                         swal("Cancelled", "Your record is safe :)", "info");
                     }
                 });
            });
        });
    </script>
}


