﻿@model AddSellerModel
@{
    string _action = ViewBag.action;
    ViewBag.Title = "AddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool islineked = false;
    bool ishighrisk = false;
    if (Model != null)
    {
        islineked = Model.IsLinkedAcc;
        ishighrisk = Model.IsHighriskAcc;
    }


}
@Styles.Render("~/css/select2")
@Styles.Render("~/css/icheck")
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/select2")
    @Scripts.Render("~/jQuery/iCheck")
    @Scripts.Render("~/jQuery/repeater")
    <script type="text/javascript">

        $('.repeater').repeater();

        $("input[id='IsLinkedAcc'][type='checkbox']").on('ifClicked', function (event) {
            if ($("#linkedAccountDiv").is(":visible")) {
                $('#linkedAccountDiv').hide();
            } else {
                $('#linkedAccountDiv').show();
            }
            //$('#linkedAccountDiv').show();
        });

        $("input[id='IsHighriskAcc'][type='checkbox']").on('ifClicked', function (event) {
            if ($("#highriskDiv").is(":visible")) {
                $('#highriskDiv').hide();
            } else {
                $('#highriskDiv').show();
            }
        });

    </script>
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Seller", FormMethod.Post))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.sellerId)
                }
                <div class="card box-shadow-0 border-primary">
                    <div class="card-header card-head-inverse bg-primary">
                        <h4 class="card-title">@_action Seller</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Full Name <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Name)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Contact Details <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextAreaFor(x => x.Contact, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.Contact)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Have LlinkedAccounts? <span class="red">*</span>
                                        </label>
                                        <div class="col-md-2">
                                            @Html.CheckBoxFor(x => x.IsLinkedAcc, new { @class = "form-control chk-icheck" })
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-md-12" id="linkedAccountDiv" style="display:none;">
                                    <div class="repeater">
                                        <div data-repeater-list="LinledAccList">
                                            @if (Model != null)
                                            {
                                                if (Model.LinledAccList != null && Model.LinledAccList.Any())
                                                {
                                                    for (int i = 0; i < Model.LinledAccList.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("LinkedAccName", Model.LinledAccList[i].LinkedAccName, null, new { @class = "form-control", @placeholder = "Account Name" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            <div data-repeater-item>
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("LinkedAccName", null, new { @class = "form-control", @placeholder = "linked Account", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button data-repeater-create class="btn btn-success" type="button">
                                                    <i class="icon-plus4"></i> Add More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3">
                                            Have Highrisk Account? <span class="red">*</span>
                                        </label>
                                        <div class="col-md-2">
                                            @Html.CheckBoxFor(x => x.IsHighriskAcc, new { @class = "form-control chk-icheck" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" id="highriskDiv" style="display:none;">
                                    <div class="repeater">
                                        <div data-repeater-list="HighriskAccList">
                                            @if (Model != null)
                                            {
                                                if (Model.HighriskAccList != null && Model.HighriskAccList.Any())
                                                {
                                                    for (int i = 0; i < Model.HighriskAccList.Count; i++)
                                                    {
                                                        <div data-repeater-item>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        @Html.TextBox("HighriskAccName", Model.HighriskAccList[i].HighriskAccName, null, new { @class = "form-control", @placeholder = "Account Name" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                                <i class="icon-cross2"></i>
                                                                            </button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            <div data-repeater-item>
                                                <div class="col-md-6">
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                @Html.TextBox("HighriskAccName", null, new { @class = "form-control", @placeholder = "Highrisk Account", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-danger" data-repeater-delete>
                                                                        <i class="icon-cross2"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <button data-repeater-create class="btn btn-success" type="button">
                                                    <i class="icon-plus4"></i> Add More
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script type="text/javascript">
    if ('@ishighrisk'== 'True' || '@ishighrisk'== 'true') {
        $('#highriskDiv').show();
    }

    if ('@islineked'== 'True' || '@islineked'== 'true') {
        $('#linkedAccountDiv').show();
    }

</script>

