﻿@model List<GetRepeatedInfregment>
@using GridMvc.Html
@{
    ViewBag.Title = "RepeatedInfregment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")

@helper ViewName(int? sellerid, string Name)
{
    @Name
}

@helper ViewContactDetail(string contact)
{
    @contact
}

@helper viewPlatform(string platform, string site)
{
    @platform
    <br />
    @site
}

@helper ViewCount(int count)
{
    @count
}



@helper LinkedList(List<SellerAccountsList> list)
{
    <ul>
        @foreach (var itm in list)
        {
            <li>@itm.LinkedAccName</li>
        }
    </ul>
}

@helper Highrisk(List<SellerHighriskAccList> list)
{
    <ul>
        @foreach (var itm in list)
        {
            <li>@itm.HighriskAccName</li>
        }
    </ul>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">Repeated Infregment</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li> 
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.PlateForm).Titled(Html.Raw("Plateform <br/><hr> Site").ToString()).Encoded(false).Sanitized(false)
                                .RenderValueAs(x => viewPlatform(x.PlateForm, x.Country));

                               column.Add(t => t.Name).Titled("Name").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ViewName(x.SellerId, x.Name));

                               column.Add(t => t.ContactDetail).Titled("Contact Detail").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ViewContactDetail(x.ContactDetail));

                               column.Add(t => t.SellerAccounts).Titled("Linked Account").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => LinkedList(x.SellerAccounts));

                               column.Add(t => t.SellerHighriskAccList).Titled("Highrisk Account").Encoded(false).Sanitized(false).RenderValueAs(x => Highrisk(x.SellerHighriskAccList));

                               column.Add(t => t.Count).Titled("Count").Encoded(false).Sanitized(false)
                                .RenderValueAs(x => ViewCount(x.Count));

                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script src="~/Content/Jquery/scripts.js"></script>
    <script type="text/javascript">
        ActiveMenu("RepeatedInfregment");



    </script>
}




