﻿@model IEnumerable<PlatformViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Manage Platform";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/css/gridMvc")

@helper ActionButtons(int Id)
{
    <a href="@Url.Action("Edit","Platform",new { @id= Id })" class="btn btn-sm btn-primary btn-blue">
        <i class="icon-edit2"></i> Edit
    </a>
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@Id">
        <i class="icon-trash-o"></i> Delete
    </a>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Platform</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(x => x.Id).Titled("Id");
                               column.Add(x => x.name).Titled("Platform Name");
                               column.Add(x => x.countryName).Titled("Country Name");
                               column.Add(x => x.Url).Titled("Url");
                               column.Add().Titled("Action").Encoded(false).Sanitized(false)
                               .RenderValueAs(x => ActionButtons(x.Id));
                           }).Sortable(true).Filterable(true).Selectable(false).WithPaging(GlobalConfig.PageSize_AdminPanel)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Platform");
         $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}